<!-- Navbard -->
<nav class="navbar navbar-dark bg-primary fixed-top">
    <a class="navbar-brand" routerLink="/user/:uid"><b>Profile</b></a>
    <a class="color-white" routerLink="/user/:uid"><i class="fas fa-check"></i></a>
</nav>
<br>
<!-- Form -->
<div class="container">
    <form>
        <!-- Username -->
        <div class="form-group">
            <label><b>Username</b></label>
            <input class="form-control">
        </div>
        <!-- Email -->
        <div class="form-group">
            <label><b>Email</b></label>
            <input class="form-control">
        </div>
        <!-- First Name -->
        <div class="form-group">
            <label><b>First Name</b></label>
            <input class="form-control">
        </div>
        <!-- Last Name -->
        <div class="form-group">
            <label><b>Last Name</b></label>
            <input class="form-control">
        </div>
        <!-- Buttons -->
        <a routerLink="/user/:uid/website" class="btn btn-primary btn-block">Websites</a>
        <a routerLink="/login" class="btn btn-danger btn-block">Logout</a>
    </form>
</div>
<!-- Footer -->
<nav class="navbar navbar-dark bg-primary fixed-bottom">
    <div class="full-width">
        <a class="color-white float-right" routerLink="/user/:uid"><i class="fas fa-user"></i></a>
    </div>
</nav>